{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="bs-example" data-example-id="simple-jumbotron">
            <div class="jumbotron">
                <h2>Welcome to CC's Calculator for Physics !</h2>
                <p>We will build different calculators as individual web pages.</p>

                <p>
                    <a class="btn btn-warning" href="/example" role="button">Example</a>
{#                    <a class="btn btn-warning" href="/edfs2" role="button">EDFS2</a>#}
                </p>
            </div>
{#            <div class="panel-body">#}
{#                <img class="img-thumbnail"#}
{#                     alt="1200x600"#}
{#                     src="{% static 'img/con.jpg'%}"#}
{#                     data-holder-rendered="true"#}
{#                     style="width: 1000px;#}
{#                     height: 400px;">#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
