{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC's Calculator</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="bs-example" data-example-id="nav-pills-with-dropdown" style="margin-top: 4px">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/example">Example</a></li>
                <li role="presentation"><a href="/cal1">Cal1</a></li>
                <li role="presentation"><a href="/search">Cal2</a></li>
                <li role="presentation"><a href="/analytics">Cal3</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>
